@import url(./src/css/modal.css);

* {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-size: 10px;
  font-weight: 300;
  background: url(./img/bg-galaxy.png) #08090a;
}
.title {
  font-size: 1.5rem;
  width: 100%;
  padding: 5px;
  text-align: center;
  position: absolute;
}
#earth .moon {
  background-color: white;
}

#universe {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url(./img/universe.png) no-repeat center 40%;
  background-size: cover;
}

#galaxy {
  position: relative;
  width: 100%;
  height: 100%;
}

#solar-system {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform-style: preserve-3d;
  animation-name: orbit;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.orbit .orbit {
  animation-name: suborbit;
}

.pos {
  position: absolute;
  top: 50%;
  width: 2em;
  height: 2em;
  margin-top: -1em;
  margin-left: -1em;
  transform-style: preserve-3d;
  animation-name: invert;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#sun,
.planet,
#earth .moon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  border-radius: 50%;
  transform-style: preserve-3d;
}

#sun {
  background: url(./img/sunn.png) no-repeat #fb7209;
  background-size: cover;
  box-shadow: 0 0 60px rgba(255, 160, 60, 0.4);
}

.planet {
  background: #202020 no-repeat;
  background-size: cover;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

#saturn .ring {
  width: 2em;
  height: 2em;
  margin-top: -1em;
  margin-left: -1em;
  border: 0.3em solid rgba(160, 147, 130, 0.7);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#saturn .ring:after {
  border-radius: 50%;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 2.2em;
  height: 2.2em;
  margin-top: -1.1em;
  margin-left: -1.1em;
  border: 0.07em solid rgba(160, 147, 130, 0.5);
  box-sizing: border-box;
  box-sizing: border-box;
}

#mercury {
  z-index: 10;
}

#venus {
  z-index: 9;
}

#earth {
  z-index: 8;
}

#moon {
  z-index: 7;
}

#mars {
  z-index: 6;
}

#jupiter {
  z-index: 5;
}

#saturn {
  z-index: 4;
}

#uranus {
  z-index: 3;
}

#neptune {
  z-index: 2;
}

#sun {
  z-index: 1;
}

@keyframes orbit {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}

@keyframes suborbit {
  0% {
    transform: rotateX(90deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(90deg) rotateZ(-360deg);
  }
}

@keyframes invert {
  0% {
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
}

.view-3D #solar-system {
  transform: rotateX(70deg);
}

.view-3D #sun {
  transform: rotateX(-90deg);
}

.view-3D .ring {
  transform: rotateX(90deg);
}

.view-3D .planet,
.view-3D .moon {
  transform: rotateX(0deg);
}

#mercury .pos,
#mercury .planet,
#mercury.orbit {
  animation-duration: 2.89016s;
}

#venus .pos,
#venus .planet,
#venus.orbit {
  animation-duration: 7.38237s;
}

#earth .pos,
#earth .planet,
#earth.orbit {
  animation-duration: 12.00021s;
}

#earth .orbit .pos,
#earth .orbit {
  animation-duration: 0.89764s;
}

#mars .pos,
#mars .planet,
#mars.orbit {
  animation-duration: 22.57017s;
}

#jupiter .pos,
#jupiter .planet,
#jupiter.orbit {
  animation-duration: 142.35138s;
}

#saturn .pos,
#saturn .planet,
#saturn.orbit,
#saturn .ring {
  animation-duration: 353.36998s;
}

#uranus .pos,
#uranus .planet,
#uranus.orbit {
  animation-duration: 1008.20215s;
}

#neptune .pos,
#neptune .planet,
#neptune.orbit {
  animation-duration: 1977.49584s;
}

.scale-stretched #sun {
  font-size: 24em;
}

.scale-stretched #mercury .planet {
  font-size: 1.5em;
}

.scale-stretched #venus .planet {
  font-size: 3.72em;
}

.scale-stretched #earth .planet {
  font-size: 3.92em;
}

.scale-stretched #earth .moon {
  font-size: 1.2em;
}

.scale-stretched #mars .planet {
  font-size: 2.9em;
}

.scale-stretched #jupiter .planet {
  font-size: 12em;
}

.scale-stretched #saturn .planet {
  font-size: 10.8em;
}

.scale-stretched #uranus .planet {
  font-size: 4.68em;
}

.scale-stretched #neptune .planet {
  font-size: 4.9em;
}

.scale-stretched #mercury.orbit {
  width: 32em;
  height: 32em;
  margin-top: -16em;
  margin-left: -16em;
}

.scale-stretched #venus.orbit {
  width: 40em;
  height: 40em;
  margin-top: -20em;
  margin-left: -20em;
}

.scale-stretched #earth.orbit {
  width: 56em;
  height: 56em;
  margin-top: -28em;
  margin-left: -28em;
}

.scale-stretched #earth .orbit {
  width: 6em;
  height: 6em;
  margin-top: -3em;
  margin-left: -3em;
}

.scale-stretched #mars.orbit {
  width: 72em;
  height: 72em;
  margin-top: -36em;
  margin-left: -36em;
}

.scale-stretched #jupiter.orbit {
  width: 100em;
  height: 100em;
  margin-top: -50em;
  margin-left: -50em;
}

.scale-stretched #saturn.orbit {
  width: 150em;
  height: 150em;
  margin-top: -75em;
  margin-left: -75em;
}

.scale-stretched #uranus.orbit {
  width: 186em;
  height: 186em;
  margin-top: -93em;
  margin-left: -93em;
}

.scale-stretched #neptune.orbit {
  width: 210em;
  height: 210em;
  margin-top: -105em;
  margin-left: -105em;
}
/* |||| mercury |||| */
#mercury .pos {
  left: 50%;
  top: -1%;
}

#mercury .planet {
  background-image: url(./img/mercury.png);
  animation-name: shadow-mercury;
}

@keyframes shadow-mercury {
  0% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  }

  25% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
  }

  50% {
    box-shadow: inset 13px -5px 4px rgba(0, 0, 0, 0.5);
  }

  50.01% {
    box-shadow: inset -13px -5px 4px rgba(0, 0, 0, 0.5);
  }

  75% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  }
}

/* |||| venus |||| */
#venus .pos {
  left: 0;
  top: 50%;
}

#venus .planet {
  background-image: url(./img/venus.png);
  animation-name: shadow-venus;
}

@keyframes shadow-venus {
  0% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
  }

  25% {
    box-shadow: inset 22px -20px 10px rgba(0, 0, 0, 0.5);
  }

  25.5% {
    box-shadow: inset -22px -20px 10px rgba(0, 0, 0, 0.5);
  }

  50% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  }

  75% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
  }
}

/* |||| earth |||| */
#earth .pos {
  left: 100%;
  top: 50%;
}

#earth .planet {
  background-image: url(./img/Earth.svg);
  animation-name: shadow-earth;
}

@keyframes shadow-earth {
  0% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  }

  25% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  }

  50% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
  }

  75% {
    box-shadow: inset 24px -20px 15px rgba(0, 0, 0, 0.5);
  }

  75.01% {
    box-shadow: inset -24px -20px 15px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  }
}

#earth .orbit .pos {
  left: 100%;
  top: 50%;
}

/* |||| mars |||| */
#mars .pos {
  left: 50%;
  top: 100%;
}

#mars .planet {
  background-image: url(./img/mars.png);
  animation-name: shadow-mars;
}

@keyframes shadow-mars {
  0% {
    box-shadow: inset -18px -10px 10px rgba(0, 0, 0, 0.5);
  }

  25% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  }

  50% {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  }

  75% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
  }

  99.99% {
    box-shadow: inset 18px -10px 10px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: inset -18px -10px 10px rgba(0, 0, 0, 0.5);
  }
}

/* |||| jupiter |||| */
#jupiter .pos {
  left: 100%;
  top: 50%;
}

#jupiter .planet {
  background-image: url(./img/jupiter.png);
  animation-name: shadow-jupiter;
}

@keyframes shadow-jupiter {
  0% {
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
  }

  25% {
    box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.5);
  }

  50% {
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
  }

  75% {
    box-shadow: inset 94px -30px 40px rgba(0, 0, 0, 0.5);
  }

  75.01% {
    box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
  }
}

/* |||| saturn |||| */
#saturn .pos {
  left: 0%;
  top: 50%;
}

#saturn .planet {
  background-image: url(./img/saturn.png);
  animation-name: shadow-saturn;
}

@keyframes shadow-saturn {
  0% {
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
  }

  25% {
    box-shadow: inset 80px -30px 50px rgba(0, 0, 0, 0.5);
  }

  25.01% {
    box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
  }

  50% {
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
  }

  75% {
    box-shadow: inset -2px 3px 2px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
  }
}

/* |||| uranus |||| */
#uranus .pos {
  left: 0;
  top: 50%;
}

#uranus .planet {
  background-image: url(./img/uranus.png);
  animation-name: shadow-uranus;
}

@keyframes shadow-uranus {
  0% {
    box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
  }

  25% {
    box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
  }

  25.01% {
    box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
  }

  50% {
    box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
  }

  75% {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
  }
}

/* |||| neptune ||||*/
#neptune .pos {
  left: 50%;
  top: 0;
}

#neptune .planet {
  background-image: url(./img/neptune.png);
  animation-name: shadow-neptune;
}

@keyframes shadow-neptune {
  0% {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  }

  25% {
    box-shadow: inset 12px 0 5px rgba(0, 0, 0, 0.5);
  }

  50% {
    box-shadow: inset 50px -15px 40px rgba(0, 0, 0, 0.5);
  }

  50.01% {
    box-shadow: inset -50px -15px 40px rgba(0, 0, 0, 0.5);
  }

  75% {
    box-shadow: inset -12px 0 5px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  }
}

.mercury #mercury.orbit,
.venus #venus.orbit,
.earth #earth.orbit,
.mars #mars.orbit,
.jupiter #jupiter.orbit,
.saturn #saturn.orbit,
.uranus #uranus.orbit,
.neptune #neptune.orbit {
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.pos {
  transition-property: top, left;
}

.pos {
  transition-delay: 1s;
}

@media screen and (max-width: 299px) {
  #universe {
    font-size: 10%;
  }
}
@media screen and (min-width: 300px) {
  #universe {
    font-size: 14%;
  }
}
@media screen and (min-width: 500px) {
  #universe {
    font-size: 23.5%;
  }
}
@media screen and (min-width: 550px) {
  #universe {
    font-size: 25.5%;
  }
}
@media screen and (min-width: 600px) {
  #universe {
    font-size: 28.5%;
  }
}
@media screen and (min-width: 680px) {
  #universe {
    font-size: 31.5%;
  }
}
@media screen and (min-width: 760px) {
  #universe {
    font-size: 36%;
  }
}
@media screen and (min-width: 900px) {
  #universe {
    font-size: 42.5%;
  }
}
@media screen and (min-width: 1065px) {
  #universe {
    font-size: 50.5%;
  }
}
@media screen and (min-width: 1150px) {
  #universe {
    font-size: 54.5%;
  }
}
@media screen and (min-width: 1300px) {
  #universe {
    font-size: 61.5%;
  }
}
@media screen and (min-width: 1400px) {
  #universe {
    font-size: 66.5%;
  }
}
@media screen and (min-width: 1500px) {
  #universe {
    font-size: 71.5%;
  }
}
