@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}
body{
    background: url(./img/galaxia.avif);
    background-size: contain;
    overflow-x: hidden;
    height: 100vh;
}
.galax{

    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.sol{
    background: url(./img/sun.svg);
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.borde-sol{
    animation: spin 20s infinite linear;
    position: relative;
    padding: 250px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: rgba(255, 255, 255, 0.231);    
}
.terra{
    background: url(./img/Earth.svg) blue;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(251, 251, 255, 0.5);
}
.borde-terra{
    border: 2px solid transparent;
    border-top-color: rgba(255, 255, 255, 0.231); 
    position: absolute;
    top: 20px;
    left: -5px;
    padding: 50px;
    border-radius: 50%;
    animation: spin 5s infinite linear reverse; 
}
.lua{
    background: linear-gradient(gray, rgb(72, 70, 70),gray);
    box-shadow: 0 0 10px rgba(251, 251, 255, 0.5);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 0;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;
}
.validador{
    display: flex;
    gap: 30px;
}
.validador .input{
    outline: none;
    border: none;
    font-size: 20px;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
                rgb(51, 51, 51) 0px 0px 0px 3px;
    width: calc(60% + 20px);
    border-radius: 40px;
    padding: 5px 16px;
    margin-right: 20px 30px;
}

.input:focus{
    outline: none;
    border: none;
}

.button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.button::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.borde-render {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  padding: 3px;
}

.borde-render .box-render {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.box-render{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-underline{
    text-decoration: underline;
    text-decoration-color: #AF40FF;
}
@keyframes glowing-button {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

@keyframes spin {
    to{
        transform: rotate(2deg);
    }
    from{
        transform: rotate(360deg);
    }
}
@media (max-width: 800px){
    .borde-sol{
        padding: 200px; 
    }
    .borde-terra{
        top: -20px;
        left: 0px;
    }
}
@media (max-width: 620px){
    .borde-sol{
        padding: 140px; 
    }
    .borde-terra{
        top: -20px;
        left: 0px;
        padding: 40px;
    }
    .terra{
        height: 40px;
        width: 40px;
    }
    .lua{
        height: 20px;
        width: 20px;
    }
    .sol{
        height: 60px;
        width: 60px;
        background-size: cover;
    }
}
@media (max-width: 400px){
    .borde-sol{
        padding: 100px;
        border-radius: 50%;    
    }
    .borde-terra{
        top: -25px;
        left: -20px;
        padding: 40px;
    }
}

::-webkit-scrollbar{
    width: 10px;
    background: rgb(48, 47, 48);
}
::-webkit-scrollbar-thumb{
    background: rgb(73, 18, 73);
    border-radius: 20px;
}